*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml
!/.magento
!/.magento/**
/.magento/local
!/app
!/docker/*
!/docker-compose.yml
!/docker/nginx/default.conf
!/docker/php/Dockerfile
!/docker/php/php.ini
!/.env
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/env.php.dist
!/app/i18n/**
/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/patches
!/patches/**
!/php.ini
!/update
!/update/.htaccess
!/vendor-legacy
!/vendor-legacy/**
!/README.md
